/* Use this file to demo how Flexbox works. Read more her: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

* {
  box-sizing: border-box;
}

body {


  font-size: 60px;
  background-color: white;
}

h1{
  font-size: 30px;
  font-family: Impact,  sans-serif;
}

.birds-container{

  display:flex ;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; /* test with nowrap */

}

.mammals-container{
  display:flex ;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; /* test with nowrap */
  

}
.birds{
 
 
 width: 400px;
 height: 140px;
 margin: 12px;
 padding: 30px;
 flex-direction: row; /*change to row */
 background-color: #f5caca;
 text-align: center;

}

.mammals{

  width: 400px;
  height: 100px;
  margin: 12px;
  padding: 12px;
  background-color: #f5caca;
  text-align: center;
  
}

 
